fastapi==0.121.1
pandas==2.3.3
langgraph==0.5.4
openpyxl==3.1.5
uvicorn[standard]==0.38.0
python-dotenv==1.0.1
twilio==9.2.3
python-multipart==0.0.20
langchain==0.3.0
langchain-groq==0.3.2
langchain-openai==0.3.19
langchain-community==0.3.0
faiss-cpu==1.12.0